body{
	background:rgb(34,193,195);
	background:linear-gradient(0deg, rgba(34,193,195,1) 0%,rgba(121,32,153,1)86%);
	background-attachment: fixed;
	margin:0;
	font-family: 'poppins', sans-serif;
}

#form{
	width:400px;
	margin:20vh auto 0 auto;
	background-color:whitesmoke;
	border-radius: 5px;
	padding:30px;

} 

.input-group{
	display:flex;
	flex-direction:column;
	margin-bottom:15px;
}

button{
	margin-top:5vh;
	background-color:#792099;
	color:white;
	border:1px solid #792099;
	border-radius:5px;
	padding:10px;
	cursor:pointer;
	font-size:20px;
	width:100%;
}

h1{
	text-align:center;
	color:#792099;
}

.input-group input{
	border-radius:5px;
	margin-top:6px;
	font-size:20px;
	padding:10px;
	border:1px solid rgb(34,193,195);

}

.input-group input:focus{
	outline:0;
}

.input-group .error{
	color:rgb(242,18,18);
	font-size:16px;
	margin-top:5px;
}

.input-group.success input{
	border-color:#0cc477;
}

.input-group.error input{
	border-color:rgb(206,67,67);
}
